// **************************************
// BASE STYLES
// **************************************

@use '../utilities/fonts' as f;
@use '../utilities/colors' as c;
@use '../utilities/placeholders' as *;
@use '../utilities/mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	// background: #000 !important;
	// color: #0f0 !important;
	// outline: solid #f00 1px !important;
}
html,
body,
#root {
	@extend %full-height;
}

body {
	font-family: f.$font-stack-main;
	line-height: 1;
	@extend %font-props;
	background-color: c.$color-bg;
}

header {
 	background-color: c.$color-header-main;
	 box-shadow: 4px 0px 4px c.$color-shadow;
}

main,
figure,
section {
	position: relative;
}

main{
	z-index: 0;
	background-color: c.$white;
	 @include mq('md'){
		max-width: 731px;
		flex-direction: row;
	 }
}

section {
	z-index: 1;
	background-image: url('../../img//overlay-img-portrait.png');
  	background-size: cover;
  	background-position: top center;
	@include mq('md'){
		background: url('../../img//overlay-img-landscape.png');
	}
}

section.close{
	visibility: hidden;
}

nav {
	background-color: c.$color-navbar-main;
	@include mq('md'){
		display: none;
	}
}

figure {
	z-index: -1;
	margin: 0 41px;
	@include mq('md'){
		margin: 0 21px;
	}
}

p {
  @extend %text-modules;
  margin-bottom: 24px;
}

span {
	font-size: 24px;
	@include mq('md'){
		padding-bottom: 5px;
	}
}

a {
	@extend %nav-link;
}

img {
	&.overlay{
		background-color: rgba(52, 199, 89, 0.2);
	}
	@extend %ctr-img;
	width: 164px; height: 164px;
	cursor: pointer;
	@include mq('md'){
		width: 144px; height: 144px;
	}
}

button {
	@extend %btn-properties;
	&:nth-of-type(1) {
		margin-bottom: 8px;
	}
	padding: 1.032rem;
}

div.show{
	display: block;
	&.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(52, 199, 89, 0.2);
	}
}

/*----Headings-----*/
h2 {
	@extend %font-props;
	color: c.$color-text-light;
	margin-left: 36px;
}




