// **************************************
// GRID & FLEX STYLES
// **************************************
@use '../utilities' as *;

/*------GRID LAYOUT STYLES-----------*/

//Base Grid Layout for Whole site
.grid__wrapper {
  height: 100vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 80px auto 48px;
  grid-template-areas:
      "header"
      "main" 
      "navigation";

  @include mq('md') {
    grid-template-areas:
      "header"
      "main"; 
    max-width: 731px;
    max-height: 411px;
    margin: auto;
  }
  
}

// Grid Area Items
header {
  grid-area: header;
}

main {
  grid-area: main;
}

nav {
  grid-area: navigation;
}

//Grid Layout for Employee Images
.main__grid--wrapper {
  display: grid;
  grid-template-rows: repeat(3, 164px); 
  grid-template-columns: repeat(2, 164px);
  justify-content: center;
  @include mq('md') {
    grid-template-columns: repeat(3, 144px);
     grid-template-rows: repeat(2, 144px); 
     margin: 21px;
  }
}


